<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>jsencrypt</title>
    <style type="text/css">
      #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
      }
      .text-center {
        text-align: center;
      }
      .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
      }
      .box-item {
        width: 48%;
      }
      textarea {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 class="text-center">RSA 加密解密 -- jsencrypt</h1>
      <div class="box">
        <div class="box-item">
          <div>用于加密的公钥：</div>
          <textarea v-model="key.publicKey" rows="10"></textarea>
        </div>

        <div class="box-item">
          <div>用于解密的私钥：</div>
          <textarea v-model="key.privateKey" rows="10"></textarea>
        </div>
      </div>
      <div class="box">
        <div class="box-item">
          <div>
            <div>明文：</div>
            <textarea v-model="decryptData" rows="20"></textarea>
          </div>
        </div>
        <div class="box-item">
          <div>密文：</div>
          <textarea v-model="encryptData" rows="20"></textarea>
        </div>
      </div>
      <div class="text-center">
        <button @click="encrypt">加密</button>
        <button @click="decrypt">解密</button>
      </div>
      <div>
        <details>
          <summary>openssl 生成密钥</summary>
          <div>
            1. 生成原始 RSA私钥文件 private_key.pem
            <blockquote>
              openssl genrsa -out private_key.pem 1024
            </blockquote>
          </div>
          <div>
            2. 将原始 RSA私钥转换为 pkcs8格式
            <blockquote>
              openssl pkcs8 -topk8 -inform PEM -in private_key.pem -outform PEM
              -nocrypt -out rsa_private_key.pem
            </blockquote>
          </div>
          <div>
            3. 生成 RSA公钥 rsa_public_key.pem
            <blockquote>
              openssl rsa -in private_key.pem -pubout -out rsa_public_key.crt
            </blockquote>
          </div>
          <div>
            4. 从公钥 rsa_public_key.pem
            获取十六进制的公钥（第一段16进制字符串）
            <blockquote>
              openssl asn1parse -out temp.ans -i -inform PEM
            </blockquote>
          </div>
        </details>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.min.js"></script>
    <script src="./js/jsencrypt.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: function() {
          return {
            key: {
              // 请求公钥
              publicKey:
                "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCbwgUR4qyEHDm/S2EizPCnTIFgJrqN8SXYmDzZW6scOgz4ZM9IUDNa0lfIw2y8qcd+QS25ZXj+YrOyGhODyn3lD6hGR5NMwfQhV+kPAQEKft/Ub8+E3ITvQdZOCfpYALcMGZhgwWJQULuH2ThKriX4qHCuvkLnUYv/U9O5qU5dnQIDAQAB",
              privateKey:
                "MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAJvCBRHirIQcOb9LYSLM8KdMgWAmuo3xJdiYPNlbqxw6DPhkz0hQM1rSV8jDbLypx35BLblleP5is7IaE4PKfeUPqEZHk0zB9CFX6Q8BAQp+39Rvz4TchO9B1k4J+lgAtwwZmGDBYlBQu4fZOEquJfiocK6+QudRi/9T07mpTl2dAgMBAAECgYAHHjfDGHvP0cZl0pkO0RTSYHGtJjfyUqnrGxH00Pah5JlBJMJASMIADYrLdvraKFwgjfP7/AIqhfI2WnC33iIgqnTp0q+mON5TZhZCR1W7iLe5LBVN5TlUbnIQfTtCu3IyfdNCDSO/Ok5ITZGYXLSwces7vwhk+0LXjILaTydY9QJBAMno8GGHNUcxt3xUi7xF5jGlX6y27MRLTA3eW6QQzR5huVWosG2saU7zgkhFlU38+Ei+XjgFyGP7jYX3QFNhNH8CQQDFe/Tq9ubMrxK4/d+IFcHha97apYunziNvlphzx94/gghQZPjcqPbQwpWw7LspiWe/Xxb59gD0lp1zvEPTxq/jAkAOqjSLYN6lxR6mkR11Fz6Y7IH+cWrQ9wcXGsddKzs6sa5cYlwuGw+rBFS6GxO1DmKaJfmB6Cmd2W92A3dQlwbRAkAuQe3Jh9HiCfQxvs24O5hxa+oEfxhqUv+76KOHIz7s01GNO0mLrkw59ApKKflhLl1N10EzhasNn6X78RJWLckPAkB4kGsvR7Q53V4tgNStJjYJS5LbxjOy15ld4Z4x/mJSKBgghisoAjrEvkrr4glcl3L9VLVICxrDsYmn5oGKfOpN"
            },
            encryptData: "",
            decryptData: ""
          };
        },

        methods: {
          encryption(str) {
            // 实例化加密对象
            var encrypt = new JSEncrypt();
            // 设置加密公钥
            encrypt.setPublicKey(this.key.publicKey);
            // 加密
            // return encrypt.encrypt();
            // 分段加密
            return encrypt.encryptLong(str);
          },
          decryption(str) {
            // 实例化加密对象
            var encrypt = new JSEncrypt();
            // 设置加密公钥
            encrypt.setPrivateKey(this.key.privateKey);
            // 解密
            // return encrypt.decrypt(dpParam);
            // 分段解密
            return encrypt.decryptLong(str);
          },
          encrypt() {
            this.encryptData = this.encryption(this.decryptData);
          },
          decrypt() {
            this.decryptData = this.decryption(this.encryptData);
          }
        },
        created: function() {}
      });
    </script>
  </body>
</html>
